<form
  class="w-50 container justify-content-center"
  #form="ngForm"
  (ngSubmit)="onSubmit(form.value, form)"
>
  <div class="mb-2">
    <label for="email">Email: </label>
    <input
      ngModel
      #email="ngModel"
      name="email"
      id="email"
      type="email"
      email
      required
      minlength="5"
    />
    <alert *ngIf="email.touched && !email.valid" type="danger">
      <div *ngIf="email.errors.required">Adres e-mail jest wymagany!</div>
      <div *ngIf="email.errors.minlength">
        Wprowadzony adres e-mail jest zbyt krótki!
      </div>
      <div *ngIf="email.errors.email">
        Wprowadzony adres email nie jest prawidłowy!
      </div>
    </alert>
  </div>

  <div class="mb-2">
    <label for="subject">Temat: </label>
    <input
      ngModel
      #subject="ngModel"
      name="subject"
      id="subject"
      type="text"
      required
      minlength="5"
      maxlength="30"
    />
    <alert *ngIf="subject.touched && !subject.valid" type="danger">
      <div *ngIf="subject.errors.required">Temat jest wymagany!</div>
      <div *ngIf="subject.errors.minlength">
        Wprowadzony temat jest zbyt krótki!
      </div>
      <div *ngIf="subject.errors.maxlength">
        Wprowadzony temat jest zbyt długi!
      </div>
    </alert>
  </div>

  <div class="mb-2">
    <label for="message">Wiadomość: </label>
    <textarea
      ngModel
      #message="ngModel"
      name="message"
      id="message"
      cols="30"
      rows="10"
      placeholder="Tutaj wpisz treść wiadomości"
      required
      minlength="15"
    ></textarea>
    <alert *ngIf="message.touched && !message.valid" type="danger">
      <div *ngIf="message.errors.required">Treść wiadomości jest wymagana!</div>
      <div *ngIf="message.errors.minlength">
        Wprowadzona wiadomość jest zbyt krótka!
      </div>
    </alert>
  </div>

  <div class="justify-content-end">
    <button
      class="btn-primary"
      type="submit"
      [disabled]="!email.valid || !subject.valid || !message.valid"
    >
      Wyślij
    </button>
  </div>
</form>
