<nav id="adminFooter" class="d-flex justify-content-center">
  <button
    type="button"
    class="btn btn-secondary mt-2"
    (click)="openModal(template)"
  >
    SKONTAKTUJ SIĘ Z ADMINISTRATOREM
  </button>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Kontakt do administratora</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>e-mail: adres@gmail.com</div>
      <div>telefon: 666-555-444</div>
    </div>
  </ng-template>
</nav>
