<h3>Edytor galerii</h3>

<div class="card">
  <h3>Stwórz nową galerię:</h3>
  <label for="subgalleryName">Nazwa galerii: </label>
  <input type="text" id="subgalleryName" required #name />
  <label for="pictureTitle">Nazwa obrazka: </label>
  <input type="text" id="pictureTitle" required #title />
  <input
    type="file"
    accept="image/png, image/jpeg"
    (change)="uploadFile($event, name.value, title.value)"
  />
  <div
    class="mb-2"
    *ngIf="galleryService.uploadPercent !== undefined || isUploadFinished"
  >
    <progressbar
      max="100"
      [value]="isUploadFinished ? 100 : (galleryService.uploadPercent | async)"
      type="success"
      [striped]="!isUploadFinished"
      [animate]="true"
      ><i
        >{{
          isUploadFinished
            ? 100
            : (galleryService.uploadPercent | async | number: "1.0-0")
        }}%</i
      ></progressbar
    >
  </div>
  <alert *ngIf="isUploadFinished" type="success"
    >Wysyłanie pliku zakończone sukcesem!</alert
  >
</div>

<div *ngFor="let gallery of galleries">
  <app-subgallery-editor [gallery]="gallery"></app-subgallery-editor>
</div>
