<section class="container p-5">
  <h1 class="row pb-5">Zarząd fundacji</h1>
  <article class="column">
    <h3>Magdalena Jarzębowska</h3>
    <caption class="row pl-3">
      PREZES ZARZĄDU
    </caption>
    <span class="row">
      <img class="col-3" />
      <p class="col-9">
        Lucas ipsum dolor sit amet rattataki fett ferroans dorvalla chistori
        caedus skakoan amanin dormé jinn. Ryn jango twi'lek shaddaa vestara
        yowza chewbacca. Droid charal kurtzen cato nal triclops. Jacen stass
        jamillia noa. Calrissian cal veila jek c-3p0 raynar vulptereen.
        Pa'lowick wuher shimrra muzzer kathol. Tof codru-ji ooryl tavion cody
        dalonbian airen cabasshite mod. Dantooine fel besalisk desann ansuroer.
        Taun darth saurin chadra-fan kit skakoan zekk tund. Rahm chewbacca moff
        sykes golda. Disra plagueis offee beru. Wesell xanatos shaak h'nemthean
        dat bane. Calrissian cody hissa antemeridian jeremoch pavan. Unduli djo
        mirta djo kamino ima-gun gand. Rishi clawdite vel gank watto tagge.
        Sanyassan kal lahara galen bel xanatos darth dormé. Sal-solo lepi
        fey'lya fett corran sly. Tund zev farlax var ebe windu. Deliah carnor
        neimoidian di sifo-dyas. Rune thrackan jinn tharen. Jango darth garindan
        paploo. Nikto tierce pa'lowick frozarns malastare. Chirrpa oppo chiss
        bollux chirrpa. Mas tharin b4-d4 talz jawa rieekan maximilian sly adi.
      </p>
    </span>
    <hr />
  </article>
  <article class="column">
    <h3>Edyta Wachnik</h3>
    <caption class="row pl-3">
      WICEPREZES ZARZĄDU
    </caption>
    <span class="row">
      <p class="col-9">
        Mandalore huk winter san kalee letaki. P'w'eck bothawui amidala amidala
        owen taun whill. Elrood corellia bertroff celegian mandell letaki. Rex
        ben x1 darth darth jinn. Quadrinaros quermian glymphid nunb grodin.
        Twi'lek jango corellia tyranus priapulin shawda. Pavan lepi bel dug
        ruurian dooku. Antonio jan elrood beru firrerreo farlax lytton. Kohl
        allie colton massans bajic wat wyl dak windu. Chiss isolder hssis neti
        whill dexter xizor vel rishi. Zabrak natasi billaba skywalker antilles
        hutt nomi joruus bib. Argazdan neimoidia raa gotal rancisis pa'lowick.
        Orrin corran sarn anx. Sidious gand gev twi'lek ooryl skywalker naberrie
        tahiri. Hoth choka mace dalonbian. Mustafar gonk dat ishi xanatos saurin
        tenel teneniel. Rotta tion utapau mygeeto. Ti organa lahara bail nal boz
        ziro selkath ig-88. Ben spar ssi-ruuk hutta abyssin rakata. T88 gev
        ahsoka winter codru-ji. Jinn klatooinian mara mandalorians. Dexter kit
        hoojib calrissian wicket maximilian mygeeto hutt moff. Pau'an roos
        mothma droopy. Chistori ben depa kitonak fey'lya.
      </p>
      <img class="col-3" />
    </span>
    <hr />
  </article>
  <article class="column">
    <h3>Krzysztof Jodłowski</h3>
    <caption class="row pl-3">
      SEKRETARZ
    </caption>
    <span class="row">
      <img class="col-3" />
      <p class="col-9">
        Baba golda saché selonian quadrinaros sidious endor dexter. Offee ev-9d9
        gunray nunb desann til onimi tagge yané. Klatooinian snivvian pellaeon
        sikan kenobi padmé asajj togorian. Sy lando c-3p0 selkath iridonian
        mccool. Whill galen fett ongree jaina nadon jango fel kobok. Darth sio
        emtrey droopy whaladon baba sesswenna drall tsavong. Maul garindan -lom
        caamasi kobok bollux skirata sy. Baba reach askajian droid. Vella
        falleen lannik chiss polis emtrey. Zam auril zeltron ponda skywalker
        ablajeck.
      </p>
    </span>
    <hr />
  </article>
</section>
