<nav class="d-flex justify-content-center">
  <a class="align-self-center" routerLink="/">
    <img src="../../assets/img/jaku_logo.svg" width="30%" alt="logo" />
  </a>
  <span class="btn btn-primary align-self-center" routerLink="/"
    >Strona główna</span
  >
  <span class="btn btn-primary align-self-center" routerLink="/news"
    >Aktualności</span
  >
  <span class="btn btn-primary align-self-center" routerLink="/about"
    >O nas</span
  >
  <span class="btn btn-primary align-self-center" routerLink="/gallery"
    >Galeria</span
  >
  <span class="btn btn-primary align-self-center" routerLink="/contact"
    >Kontakt</span
  >
</nav>
