<nav class="d-flex justify-content-center">
  <a class="align-self-center" routerLink="/">
    <img class="w-100" src="../../assets/img/jaku_logo.svg" alt="logo" />
  </a>
  <span class="btn btn-primary align-self-center  m-1" routerLink="/"
    >Główna</span
  >
  <span class="btn btn-primary align-self-center  m-1" routerLink="/news"
    >Aktualności</span
  >
  <span class="btn btn-primary align-self-center  m-1" routerLink="/about"
    >O nas</span
  >
  <span class="btn btn-primary align-self-center  m-1" routerLink="/gallery"
    >Galeria</span
  >
  <span class="btn btn-primary align-self-center  m-1" routerLink="/contact"
    >Kontakt</span
  >
</nav>
