<div class="container">
  <div class="row  justify-content-center">
    <h1 class="header text-white">ADMIN PANEL</h1>
  </div>
  <div class="row justify-content-center p-4">
    <div class="col col-6 card p-4">
      <form class="container" [formGroup]="loginForm">
        <div class="row form-group">
          <label>Adres e-mail</label>
          <input type="email" formControlName="email" class="form-control" />
        </div>
        <div class="row form-group">
          <label>Hasło</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
          <label class="error">{{ errorMessage }}</label>
        </div>
        <div class="row justify-content-center">
          <button
            type="submit"
            (click)="tryLogin(loginForm.value)"
            class="btn btn-primary"
          >
            ZALOGUJ
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
