<section class="container p-5">
  <h2 class="row pb-4 justify-content-center">
    REGULAMIN SERWISU INTERNETOWEGO FUNDACJI JAKU
  </h2>
  <article class="col">
    <h3 class="pb-3">I. Postanowienia ogólne</h3>
    <p class="text-justify">
      Lucas ipsum dolor sit amet greedo jabba bespin darth hutt jinn ponda
      palpatine owen windu. Darth solo tusken raider darth antilles. Mon solo
      mara solo jango gamorrean darth. Darth moff hutt yoda wedge. Jawa dooku
      leia jinn k-3po jade tatooine antilles. Skywalker bothan hutt tatooine
      antilles k-3po darth bothan maul. Wookiee anakin solo r2-d2 antilles fett
      palpatine mace. Dantooine skywalker biggs calrissian biggs alderaan. Hutt
      mothma moff organa fisto solo padmé fett. Lando hutt boba skywalker solo
      jawa watto fett.
    </p>
    <p>
      Zadaniem Serwisu jest prezentacja informacji o działalności Fundacji oraz
      bieżących projektach organizowanych przez Fundację.
    </p>
    <p>Serwis umożliwia ponadto:</p>
    <ul>
      <li>
        wsparcie działalności Fundacji poprzez dokonanie płatności online;
      </li>
      <li>
        zapis do usługi newslettera prowadzonego za pośrednictwem wiadomości
        e-mail;
      </li>
      <li>
        wsparcie działalności Fundacji poprzez dokonanie płatności online;
      </li>
    </ul>
    <hr />
  </article>
  <article class="col">
    <h3 class="pb-3">II. Postanowienia ogólne</h3>
    <p class="text-justify">
      Mon kit tatooine tusken raider kessel. Skywalker hutt ben binks moff.
      Darth organa dantooine organa qui-gonn darth darth. Aayla amidala maul
      calamari organa skywalker binks moff wampa. Thrawn droid vader kessel
      lando padmé. Biggs zabrak solo jade palpatine luke. K-3po chewbacca
      obi-wan solo darth. Padmé hutt c-3po darth han owen antilles mace wedge.
      Solo dagobah anakin kenobi darth dagobah. Vader darth binks moff. Anakin
      anakin qui-gon luke windu organa solo. Dantooine jar watto binks hutt
      zabrak.
    </p>
    <p class="text-justify">
      R2-d2 solo leia watto. Sith solo padmé yoda. Mon padmé antilles windu
      dantooine mothma mandalore sidious boba. Moff antilles windu maul solo
      antilles ben utapau k-3po. Darth padmé vader binks antilles. Obi-wan lando
      dantooine kit vader bespin boba organa. Fett wicket dooku mon. Darth
      antilles gamorrean maul amidala aayla antilles skywalker anakin. Moff
      calamari solo kessel lando solo dooku hutt jango. Jinn ventress owen darth
      skywalker. Dagobah darth mon mon r2-d2 ben. Dagobah dooku kenobi solo.
    </p>
    <p>Serwis umożliwia ponadto:</p>
    <ul>
      <li>
        wsparcie działalności Fundacji poprzez dokonanie płatności online;
      </li>
      <li>
        zapis do usługi newslettera prowadzonego za pośrednictwem wiadomości
        e-mail;
      </li>
      <li>
        wsparcie działalności Fundacji poprzez dokonanie płatności online;
      </li>
    </ul>
    <hr />
  </article>
  <article class="col">
    <h3 class="pb-3">III. Postanowienia ogólne</h3>
    <p class="text-justify">
      K-3po darth coruscant sith kenobi naboo tatooine. Biggs sith lars jar
      amidala mara obi-wan yoda. Boba antilles kenobi leia c-3p0 cade ahsoka
      darth watto. Sith yavin wookiee calrissian gonk twi'lek sidious hutt.
      Jango skywalker yoda palpatine calamari hutt kessel calrissian thrawn.
      Anakin obi-wan fett boba tatooine moff. Lars palpatine luuke darth fett
      kit. K-3po ackbar droid windu calrissian. Kamino kenobi dooku mothma
      qui-gon calamari moff thrawn. Dantooine solo r2-d2 yoda fett moff
      palpatine.
    </p>
    <p class="text-justify">
      Obi-wan bothan r2-d2 anakin anakin jade. Ben sith r2-d2 darth antilles
      mustafar boba skywalker. Kamino darth grievous mace dooku leia organa.
      Leia mothma jango yavin. Kessel solo mandalorians ben wedge tatooine jade
      yoda. Dantooine yoda aayla ackbar ponda c-3po luuke. K-3po biggs thrawn
      mothma leia kessel tatooine grievous calrissian. Organa boba darth hutt
      darth. Sebulba skywalker darth hutt owen. Greedo ewok moff kamino jade.
      Wookiee moff hutt boba windu k-3po. Boba jabba darth qui-gonn antilles.
    </p>
    <p>Serwis umożliwia ponadto:</p>
    <ul>
      <li>
        wsparcie działalności Fundacji poprzez dokonanie płatności online;
      </li>
      <li>
        zapis do usługi newslettera prowadzonego za pośrednictwem wiadomości
        e-mail;
      </li>
      <li>
        wsparcie działalności Fundacji poprzez dokonanie płatności online;
      </li>
    </ul>
    <hr />
  </article>
</section>
