<section class="container p-5">
  <h1 class="row pb-5">Edycja sekcji "O nas"</h1>
  <div class="row justify-content-center mb-5">
    <button class="btn btn-secondary btn-lg" (click)="showEditWindow()">
      DODAJ OSOBĘ
    </button>
  </div>
  <article class="card column p-5 mb-3" *ngFor="let person of about">
    <h3 class="row mb-5">{{ person.name }} - {{ person.position }}</h3>
    <span class="row">
      <img src="{{ person.image }}" class="col-3" alt="person" />
      <p class="col-9 text-justify">
        {{ person.description }}
      </p>
    </span>
    <hr />
    <span class="row justify-content-around"
      ><button
        class="btn btn-primary w-25 mb-3"
        (click)="showEditWindow(person)"
      >
        EDYTUJ OSOBĘ</button
      ><button
        class="btn btn-danger w-25 mb-3"
        (click)="showDeleteWindow(person)"
      >
        USUŃ
      </button></span
    >
  </article>
  <about-edit-window></about-edit-window>
  <about-delete-window (notify)="removePerson($event)"></about-delete-window>
  <about-confirm-window></about-confirm-window>
</section>
