/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  nav {
    img {
      height: 10em;
      width: 10em;
    }

    .btn {
      margin: 1%;
      height: 3em;
      width: 15em;
    }
  }
}
